{% extends 'base.html.twig' %}

{% block title %}Mon compte en ligne{% endblock %}

{% block content %}
<h1>Mon compte</h1
 <p> Bienvenue Mr {{app.user.lastname}} dans votre compte </p>
<hr>
<p>Modifier mon mot de pass</p>
<p>Ajouter une adresse</p>
<p>Mes commandes</p>
<hr>
{% endblock %}
