{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<a href="{{path('app_account')}}"> Retour à mon compte </a>
<hr>
{{form(form)}}
<hr>
{% endblock %}
